<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head (#{nav.signup})}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body class="bg-dark">

<header th:replace="~{fragments :: header}"></header>

<div class="container">
    <div class="login-form">
        <div th:if="${param.error}" th:text="#{error.usernameAlreadyExist}" class="alert alert-danger"></div>
        <div class="main-div">
            <div class="panel">
                <h2>Sign Up</h2>
                <p>Please fill all required fields</p>
            </div>
            <form id="Login" method="post" th:action="@{/administrator/signup}">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required value="u@example.com">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required value="u">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required value="u">
                </div>
                <!--<div class="form-group">-->
                    <!--<input type="password" class="form-control" id="password-confirm" name="password" placeholder="Password" required value="u">-->
                <!--</div>-->
                <div class="forgot">
                    <a href="/administrator/login">Log in</a>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
